@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root{
    --color-red:#F03C42;
    --color-write:#fff;
    --color-blue: #222374;
    --color-black: black;

}

* {
    margin: 0;
}

header {
    background-color: var(--color-red);
    min-height: 100px;
    display: flex;
    align-items: center;
   
            
}

header h2 {
    font-family:'open sans', sans-serif;
    color: var(--color-write);
    font-size: 18px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;    
    align-items: center;
    color:var(--color-write);   
       
}

.container-header {
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.rigth {
    display: flex;
    align-items: center;
    
}

.insta {
    margin-left: 5%;
    font-size: 14px;
}

.conheca {
    background-color: var(--color-blue);
    padding: 20px 20px;

    
}

.conheca h1 {
    font-family: open sans, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: var(--color-write);
    margin-bottom: 40px;
}

.cards {
    background-color: #cccccc;
    padding: 20px 20px;
    color: var(--color-black);
    font-family: open sans, sans-serif;
    line-height: 19,07;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 20px;
    border-radius: 8px;
}

.cards h3 {
    font-family: open sans, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-black);
    margin-bottom: 20px;
}

.cards p {
    font-size: 14px;
    font-family: open sans, sans-serif;
    color: var(--color-black);
    font-weight: 400;
    font-style: normal;
    line-height: 19px;
    align-items: center;
}

.mold {
    background-color:var(--color-write);
}

.mold h1 {
    font-family: open sans, sans-serif;
    font-weight: bold;
    color: var(--color-red);
    margin:20px 0 40px 0
    

}

.cards2 {
    background-color: var(--color-blue);
    padding: 20px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.cards2 h3 {
    font-family: open sans, sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 27,24;
    color: var(--color-write);
    margin-bottom: 20px;
}

.cards2 p {
    font-family: open sans, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19,07;

}

.rodape {
    background-color: var(--color-black);
    padding: 60px 0 60px 0 ;   
}

.rodape p {
    font-family: open sans, sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
}

.footer-content{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;    
    align-items: center;
    color: var(--color-write); 
    display: flex;
    flex-direction: column;
}

.iten-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.iten-footer-sociais {
    display: flex;
    flex-direction: column;
    
}

.sociais {
    display: flex;
    align-items: center;

}

.iten-footer-sociais{
    margin-top: 20px;
}


    

